# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '0 * * * *'
  push:
    branches:
      - master

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    timeout-minutes: 10
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    - name: export roam
      shell: bash
      env:
        ROAM_USERNAME: ${{ secrets.ROAM_USERNAME }}
        ROAM_PASSWORD: ${{ secrets.ROAM_PASSWORD }}
        ROAM_DATABASE: ${{ secrets.ROAM_DATABASE }}
      run: |
        mkdir zip
        cd export
        npm install
        node index.js
        npm install --save-dev nunzip
        ./node_modules/nunzip/index.js *.zip -d ../zip/
        ls ../zip/*

    - name: transform to hugo markdown
      shell: bash
      run: |
        mkdir posts
        pip3 install -r transform/requirements.txt
        cd zip
        find . -name \*.md -exec python3 ../transform/blog.py -i {} -o ../posts/ \;
        
    - name: transform roam to anki cards
      shell: bash
      run: |
        git clone https://github.com/kozko2001/roam-to-anki.git
        python3 roam-to-anki/transform/anki.py -i ./zip -o decks.json
        ls .
              
    - name: push to my blog
      shell: bash
      env:
        API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
      run: |
        git config --global user.email "kozko2001@gmail.com"
        git config --global user.name "kozko2001"
        git clone "https://$API_TOKEN_GITHUB@github.com/kozko2001/blog-hugo.git" "blog"
        ls blog/
        cp posts/* blog/content/posts/
        cp decks.json blog/static/anki/decks.json
        git -C blog/ add .
        git -C blog/ status
        git -C blog/ commit -m "add content from roam-export"
        git -C blog/ push
